*, *:before, *:after {
    box-sizing: border-box;
}

*, *:before, *:after, *:active, *:focus, *:hover {
    outline: none;
    outline-offset: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--f-weight-regular);
    line-height: 24px;
    background-color: var(--white-darker);
    color: var(--black-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 24px;

    @media (min-width: 1200px) {
        padding: 0;
    }
}
